body {
    margin: 0;
    font-family: Arial;
    background: #f1f5f9;
    transition: 0.3s;
}

.dark-mode {
    background: #0f172a;
    color: white;
}

.app {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top input {
    padding: 6px;
}

button {
    padding: 6px 10px;
    cursor: pointer;
}

.form-section {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.dark-mode .form-section {
    background: #1e293b;
}

.form-section input {
    padding: 8px;
    margin: 5px;
}

.table-section {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.dark-mode .table-section {
    background: #1e293b;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.dark-mode th,
.dark-mode td {
    border-color: #334155;
}

.error {
    color: red;
    margin-top: 10px;
}
